{% load markdown_extras %}

{% block content %}
    <br>
    <a class="mx-5" style="text-decoration: none; color: black" href="{% url "about" %}#projects"><i class="bi-arrow-left"></i> back to all projects</a>
    <div class="row m-5 mb-5 g-1 row-cols-1 row-cols-md-2">
        <div class="col">
            <img class="img-fluid" src="{{ project.image.url }}" alt=""/>
        </div>
        <div class="col text-center d-flex row align-items-center">
            <div class="align-items-center m-3">
                <div class="align-self-center">
                    <h1 class="fs-2">{{ project.name }}</h1>
                    <p class="lead">{{ project.md | markdown | safe }}</p>
                    <p>{{ project.description }}</p>
                    <p>Created: {{ project.created|date:"d M Y" }}</p>
                    <p>
                        {% if project.source_link %}
                        <a style="text-decoration: none; color: black" class="m-2" href="{{ project.source_link }}"><i class="bi bi-file-earmark-code"></i> Source code</a>
                        {% endif %}
                        {% if project.view_link %}
                        <a style="text-decoration: none; color: black" class="m-2" href="{{ project.view_link }}"><i class="bi bi-box-arrow-up-right"></i> View project</a>
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
