{% extends 'base.html' %}

{% block content %}
<h1>Welcome to music app</h1>
<p>This is mainly the backend of music, you should consider using side clients like: <a href="https://next.akarpov.ru/music">otomir23's client</a> or my <a href="https://t.me/akarpov_music_bot">inline telegram bot</a></p>
{% if request.user.is_authenticated %}
  {% if last_fm_account %}
    <p>Last.fm connected to {{ last_fm_account }}, <a href="{% url 'music:lastfm_connect' %}">reconnect</a></p>
  {% else %}
    <p>Last.fm is not connected, <a href="{% url 'music:lastfm_connect' %}">connect</a></p>
  {% endif %}
{% else %}
  <p>Login to connect last.fm account</p>
{% endif %}

{% if request.user.is_superuser %}
  <p>
  <a href="{% url 'music:upload' %}">Upload</a>
  </p>
  <p>
  <a href="{% url 'music:upload_file' %}">Upload file</a>
  </p>
{% endif %}
{% endblock %}
