{% extends 'base.html' %}
{% load static %}

{% block css %}
<style>
body {
    background-color: #f8f9fa;
}

#song-info .card {
    margin-bottom: 30px;
}

#history .card {
    margin-bottom: 15px;
}

#admin-controls {
    margin-bottom: 30px;
}

.card-img-top {
    width: 100%;
    height: 200px; /* You can adjust as needed */
    object-fit: cover;
}

.audio-player {
    width: 100%;
    margin-top: 10px;
}

.range-slider {
    width: 100%;
    margin-top: 10px;
}

.range-slider input[type="range"] {
    width: 100%;
}
</style>
{% endblock %}

{% block content %}
    <div class="container mt-5 music-body">
        <!-- Music Player and Visualization -->
        <div class="music-player-container">
            <canvas id="audio-visualization" width="800" height="100"></canvas>
            <audio id="audio-player" controls>
                <source src="" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
        </div>

        <!-- Now Playing Information -->
        <div class="now-playing">
            <div class="track-image">
                <img id="track-image" src="" alt="Track Image">
            </div>
            <div class="artist-info">
                <!-- Dynamically populate artist info -->
            </div>
        </div>

        <div id="admin-controls" class="mb-3" style="display: none;">
            <!-- Admin Controls will be inserted here -->
        </div>

        <h2>History</h2>
        <div id="history" class="mb-3">
            <!-- Song History will be inserted here -->
        </div>
    </div>

    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/ws_script.js' %}"></script>
{% endblock %}
