{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block head_title %}{% translate "Sign In" %}{% endblock %}

{% block inner %}

<h1>{% translate "Sign In" %}</h1>

{% get_providers as socialaccount_providers %}

<form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  {{ form|crispy }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button class="primaryAction btn btn-primary me-3" type="submit">{% translate "Sign In" %}</button>
  <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% translate "Forgot Password?" %}</a>
</form>

<p class="mt-2 mb-1">Alternative: </p>

{% if socialaccount_providers %}
  <div class="socialaccount_ballot">
    <ul class="socialaccount_providers">
      {% include "socialaccount/snippets/provider_list.html" with process="login" %}
    </ul>
  </div>
  {% include "socialaccount/snippets/login_extra.html" %}
{% endif %}

{% endblock %}
