{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Creating new Form on akarpov{% endblock %}

{% block content %}
<form class="pt-2 needs-validation" enctype="multipart/form-data" method="POST" id="designer-form">
    {% csrf_token %}
    {{ form.media }}
    {% for field in form %}
        {{ field|as_crispy_field }}
    {% endfor %}
</form>
<div class="row d-flex justify-content-center">
  <div class="m-3 col-md-2 col-sm-auto" id="questions">
      <div id="new_btn" class="input-group mb-3">
        <button type="button" id="create_question_button" class="btn btn-outline-primary"><i class="bi bi-plus-circle"></i></button>
        <select class="form-select" id="inputGroupSelect" aria-label="select with addon">
        </select>
      </div>
  </div>
</div>
<div class="mt-4 flex justify-end space-x-4">
    <input class="btn btn-success" type="submit" form="designer-form" value="Create"/>
</div>
{% endblock %}

{% block inline_javascript %}
<script>
let questionTypes = []
let questionTypesDescription = []
let questions = []
let q_index = 1;

const button = document.getElementById("create_question_button");
const form = document.getElementById("designer-form");
const select = document.getElementById('inputGroupSelect')

{% for question, question_form in questions.items %}
  type = '{{ question.type }}'
  description = '{{ question.type_plural }}'

  questionTypes.push(type)
  questionTypesDescription.push(description)
  select.innerHTML += `<option value="${type}">${description}</option>`

  questionPrototype = `
  <div class="row ms-2">
  <div class="col col-11">
    <input type="hidden" value="${type}" name="type" />
    {% for field in question_form %}
        {{ field|as_crispy_field }}
    {% endfor %}
    <div class="form-check form-switch">
      <input name="required" class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
      <label class="form-check-label" for="flexSwitchCheckDefault">Required</label>
    </div>
  </div>
  <div class="col col-1">
      <button onclick="this.parentNode.parentNode.parentNode.remove()" type="button" class="m-2 btn border-0"><i class="bi bi-x-lg"></i></button>
  </div>
  </div>
  `
  questions.push(questionPrototype)
{% endfor %}

button.onclick = function () {
    let index = select.selectedIndex;
    let div = document.createElement("div");
    div.id = q_index;
    div.className = "px-2 py-4 rounded-2 border mt-5";
    div.innerHTML = questions[index]
    form.appendChild(div);
    q_index += 1;
}
</script>
{% endblock %}
