{% load static i18n active_link_tags %}<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}akarpov{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Facebook Meta Tags -->
    <meta property="og:title" content="sanspie's site" />
    <meta property="og:site_name" content="akarpov.ru"/>
    <meta property="og:image" content="{% static 'images/logo.jpg' %}" />
    <meta property="og:image:width" content="32" />
    <meta property="og:image:height" content="32" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="">
    {% block meta %}
    {% endblock %}

    <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}">

    <!-- Latest compiled and minified Bootstrap CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    {% if request.user.is_authenticated %}
      <link href="{{ request.user.get_theme_url }}" rel="stylesheet">
    {% endif %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <script src="https://kit.fontawesome.com/32fd82c823.js" crossorigin="anonymous"></script>
    <!-- Your stuff: Third-party CSS libraries go here -->

    <!-- This file stores project-specific CSS -->
    <link href="{% static 'css/project.css' %}" rel="stylesheet">
    {% block css %}
    {% endblock %}
    <!-- Le javascript
    ================================================== -->
    {# Placed at the top of the document so pages load faster with defer #}
    {% block javascript %}
    {% endblock javascript %}
    <script defer src="{% static 'js/bootstrap.bundle.min.js' %}" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script defer src="{% static 'js/project.js' %}"></script>
    <noscript><h1 style="text-align: center">In order to use site properly enable JavaScript!</h1></noscript>
  </head>

  <body>
      <div class="container-fluid">
        <div class="row vh-100 overflow-auto">
            {# TODO: add cache for sidebar #}
            <div class="sidebar col-12 col-lg-2 col-sm-3 col-md-2 col-xl-1 px-sm-2 px-0 bg-dark d-flex sticky-top">
                <div class="d-flex flex-sm-column flex-row flex-grow-1 align-items-center align-items-sm-start px-3 pt-2 text-white">
                    <a href="/" class="d-flex align-items-center pb-sm-3 mb-md-0 me-md-auto text-white text-wrap text-decoration-none">
                        <span class="fs-5">A<span class="d-none d-sm-inline">karpov</span></span>
                    </a>
                    <ul class="nav nav-pills flex-sm-column flex-row flex-nowrap flex-shrink-1 flex-sm-grow-0 flex-grow-1 mb-sm-auto mb-0 justify-content-center align-items-center align-items-sm-start" id="menu">
                        {% if request.user.is_superuser %}
                        <li>
                            <a href="/admin/" class="text-muted nav-link px-sm-0 px-2">
                                <i class="fs-5 bi-speedometer2"></i><span class="ms-1 d-none d-sm-inline">Admin</span> </a>
                        </li>
                        {% endif %}
                        <li>
                            <a href="{% url 'about' %}" class="{% active_link 'about' %} text-muted nav-link px-sm-0 px-2">
                                <i class="fs-5 bi-person"></i><span class="ms-1 d-none d-sm-inline">About me</span></a>
                        </li>
                        {% if request.user.is_authenticated %}
                        <li>
                            <a href="{% url 'files:main' %}" class="{% active_link 'files:main' %} text-muted nav-link px-sm-0 px-2">
                                <i class="fs-5 bi-folder-fill"></i><span class="ms-1 d-none d-sm-inline">Files</span></a>
                        </li>
                        {% endif %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-muted px-sm-0 px-1" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fs-5 bi-terminal-fill"></i><span class="ms-1 d-none d-sm-inline">Apps</span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item {% active_link 'tools:qr:create' %}" href="{% url 'tools:qr:create' %}">QR generator</a></li>
                                <li><a class="dropdown-item {% active_link 'tools:uuid:main' %}" href="{% url 'tools:uuid:main' %}">UUID tools</a></li>
                                <li><a class="dropdown-item {% active_link 'tools:shortener:create' %}" href="{% url 'tools:shortener:create' %}">URL shortcuter</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="{% url 'faq' %}" class="{% active_link 'faq' %} text-muted nav-link px-sm-0 px-2">
                                <i class="fs-5 bi-question"></i><span class="ms-1 d-none d-sm-inline">FAQ</span></a>
                        </li>
                    </ul>

                    <div class="dropdown py-sm-4 mt-sm-auto ms-auto ms-sm-0 flex-shrink-1">
                  {% if request.user.is_authenticated %}
                        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                            {% if request.user.image_cropped %}<img src="{{ request.user.image_cropped.url }}" alt="hugenerd" width="28" height="28" class="rounded-circle">{% endif %}
                            <span class="d-none d-sm-inline mx-1 username" title="{{ request.user.username }}">{{ request.user.username }}</span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
                            <li><a class="dropdown-item {% active_link 'users:update' %}" href="{% url 'users:update'  %}">Settings</a></li>
                            <li><a class="dropdown-item {% active_link 'users:detail' request.user.username %}" href="{% url 'users:detail' request.user.username  %}">Profile</a></li>
                            <li><a class="dropdown-item {% active_link 'tools:qr:create' %}" href="{% url 'tools:promocodes:activate' %}">Activate promocode</a></li>
                            <li><a class="dropdown-item {% active_link 'tools:qr:create' %}" href="{% url 'users:history' %}">History</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="{% url 'account_logout' %}">Sign out</a></li>
                        </ul>
                    {% else %}
                    <ul class="nav nav-pills flex-sm-column flex-row flex-nowrap flex-shrink-1 flex-sm-grow-0 flex-grow-1 py-sm-4 mt-sm-auto ms-auto ms-sm-0" id="menu">
                    {% if ACCOUNT_ALLOW_REGISTRATION %}
                        <li>
                            <a href="{% url 'account_signup' %}" class="text-muted nav-link px-sm-0 px-2 {% active_link 'account_signup' %}">
                                <i class="fs-5 bi-person"></i><span class="ms-1 d-none d-sm-inline">Register</span> </a>
                        </li>
                      {% endif %}
                        <li>
                            <a href="{% url 'account_login' %}" class="nav-link px-sm-0 px-2 {% active_link 'account_login' %} text-muted">
                                <i class="fs-5 bi-box-arrow-in-right"></i><span class="ms-2 d-none d-sm-inline">  Log in</span> </a>
                        </li>
                      </ul>
                   {% endif %}
                    </div>
                </div>
            </div>
            <div id="body" class="col-xl-11 col-lg-10 col-md-9 col-sm-9 col-12 d-flex align-self-start justify-content-start flex-column h-100">
                <main class="px-lg-4 row overflow-auto">
                    <div class="col pt-4">
                         {% if messages %}
                            {% for message in messages %}
                              <div class="alert alert-dismissible {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                                {{ message }}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                              </div>
                            {% endfor %}
                          {% endif %}

                          {% block content %}
                          {% endblock content %}
                    </div>
                </main>
                <footer class="row bg-light py-1 mt-auto text-center">
                    <div class="col"> Writen by <a href="/about">sanspie</a>, find source code <a href="https://github.com/Alexander-D-Karpov/akarpov">here</a> </div>
                </footer>
            <div id="toastContainer" class="toast-container position-fixed bottom-0 end-0 p-3">

            </div>

            </div>
        </div>
    </div>

    {% block modal %}{% endblock modal %}

    {% block inline_javascript %}
    {% endblock inline_javascript %}
    {% if request.user.is_authenticated %}
    <script>
      const protocol = window.location.protocol === 'https:' ? 'wss:' : 'ws:';
      const host = window.location.host; // Assuming host includes the port if needed
      const socketPath = `${protocol}//${host}/ws/notifications/`;

      let notification_socket = new WebSocket(socketPath);

      const toastContainer = document.getElementById('toastContainer')


      function sleep(ms) {
          return new Promise(resolve => setTimeout(resolve, ms));
      }

      function timeSince(date) {
            let seconds = Math.floor((new Date() - date) / 1000);
            let interval = seconds / 31536000;
            if (interval > 1) {
              return Math.floor(interval) + " years";
            }
            interval = seconds / 2592000;
            if (interval > 1) {
              return Math.floor(interval) + " months";
            }
            interval = seconds / 86400;
            if (interval > 1) {
              return Math.floor(interval) + " days";
            }
            interval = seconds / 3600;
            if (interval > 1) {
              return Math.floor(interval) + " hours";
            }
            interval = seconds / 60;
            if (interval > 1) {
              return Math.floor(interval) + " minutes";
            }
            return Math.floor(seconds) + " seconds";
      }

      let fn = async function(event) {
        let data = JSON.parse(event.data)
        const toast = document.createElement("div")
        toast.id = "liveToast"
        toast.className = "toast mb-4 ml-2"
        toast.setAttribute("role", "alert")
        toast.setAttribute("aria-live", "assertive")
        toast.setAttribute("aria-atomic", "true")
        toast.innerHTML = `<div class="toast-header">
                    <strong class="me-auto">${data.title}</strong>
                    <small>${timeSince(Date.parse(data.created))} ago</small>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                  </div>
                  <div class="toast-body">
                    ${data.body}
                  </div>`
        toastContainer.appendChild(toast)
        const toastBootstrap = bootstrap.Toast.getOrCreateInstance(toast)
        toastBootstrap.show()
      }

      notification_socket.onmessage = fn
      notification_socket.onclose = async function(event) {
        console.log("Notifications socket disconnected, reconnecting...")
        let socketClosed = true;
        await sleep(5000)
        while (socketClosed) {
          try {
            let cl = notification_socket.onclose
            notification_socket = new WebSocket(socketPath);
            notification_socket.onmessage = fn
            notification_socket.onclose = cl
            socketClosed = false
          } catch (e) {
            console.log("Can't connect to socket, reconnecting...")
            await sleep(1000)
          }
          }
      }
    </script>
    {% endif %}
  </body>
</html>
