{% extends 'base.html' %}
{% load humanize %}

{% block css %}
<style>
.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  flex-wrap: wrap;
}
.row > [class*='col-'] {
  display: flex;
  flex-direction: column;
}
</style>
{% endblock %}

{% block content %}
{% for folder in folders %}
  {{ folder.name }}
{% endfor %}
<div class="row">
{% for file in file_list %}
  <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12 mb-3 m-3 d-flex align-items-stretch card">
      <div class="card-body d-flex flex-column">
        <h5 class="card-title">{{ file.name }}</h5>
        <p class="card-text mb-4"><small class="text-muted">{{ file.edited | naturaltime }}</small></p>
      <img src="{{ file.file_image_url }}" class="card-img-bottom" alt="">
      </div>
  </div>
{% endfor %}
</div>
{% endblock %}
