{% extends 'base.html' %}
{% load users_extras %}
{% load static %}

{% block meta %}
{% autoescape off %}
{{ meta }}
{% endautoescape %}
{% endblock %}

{% block javascript %}
{% autoescape off %}
{{ preview_static }}
{% endautoescape %}
{% endblock %}


{% block content %}
{% if has_perm %}
<nav class="ms-3" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'files:main' %}">home</a></li>
    {% for f in file.get_top_folders %}
    <li class="breadcrumb-item"><a href="{% url 'files:folder' slug=f.slug %}">{{ f.name }}</a></li>
    {% endfor %}
    <li class="breadcrumb-item active" aria-current="page">{{ file.name }}</li>
  </ol>
</nav>
{% endif %}
<div class="row m-2">
  <h1 class="fs-1 text-break mb-4">{{ file.name }}
  {% if has_perm %}
  <a class="justify-content-center" href="{% url 'files:update' file.slug %}">
  <i style="color:black" class="bi bi-pen fs-6"></i></a>
  {% endif %}
  </h1>
  <div class="col-md-4 col-sm-6 col-xs-auto mb-5">
    {% if not has_perm %}
        <p>Uploaded by: {% user_badge file.creator %}</p>
    {% endif %}
    <p class="mt-2">Last updated: {{ file.modified|date:"d.m.Y" }} {{ file.modified|time:"H:i" }}</p>
    <p>File size: {{ file.file_size | filesizeformat }}</p>
    <p>File name: {{ file.file_name }}</p>
    {% if file.file_type %}
    <p>File type: {{ file.file_type }}</p>
    {% endif %}
    {% if file.description %}
    <p>{{ file.description }}</p>
    {% endif %}
    {% if file.private %}
    <p>File is private</p>
    {% else %}
    <p>File is public{% if file.short_link %},
    <a href="{{ file.get_short_link }}">short link</a><button class="btn" data-clipboard-text="{{ request.get_host }}{{ file.get_short_link }}">
      <i style="font-size: 0.8em" class="bi bi-clipboard ml-2"></i>
    </button>
    {% endif %}</p>
    {% endif %}
    <a class="text-danger mt-2" style="text-decoration: none" href="{% url 'files:file_report' slug=file.slug %}"><i class="bi bi-flag-fill"></i>report file</a>
    <div class="mt-4 text-center justify-content-sm-evenly justify-content-md-start gap-3 align-items-md-start align-items-sm-center d-flex">
      <a class="btn btn-success fs-6" href="{% url 'files:file_download' slug=file.slug %}" download><i class="bi bi-download"></i> Download</a>
      {% if has_perm %}
      <a class="btn btn-danger fs-6" href="{% url 'files:delete' slug=file.slug %}"><i class="bi bi-trash"></i> Delete</a>
      {% endif %}
    </div>
  </div>
  {% autoescape off %}
  {{ preview_content }}
  {% endautoescape %}
</div>
<script src="{% static 'js/clipboard.min.js' %}"></script>
<script>
new ClipboardJS('.btn');
</script>
{% endblock %}
