{% extends 'base.html' %}

{% block javascript %}
{% autoescape off %}
{{ preview_static }}
{% endautoescape %}
{% endblock %}

{% block content %}
<div class="row m-2">
  <h1 class="fs-1 text-break mb-4">{{ file.name }}</h1>
  <div class="col-md-4 col-sm-6 col-xs-auto">
    {% if not has_perm %}
        <p>Uploaded by: <a href="{% url 'users:detail' file.user.username %}">
        {% if file.user.image_cropped %}<img class="rounded" width="20" src="{{ file.user.image_cropped.url }}" alt=""> {% endif %}
          {{ file.user.username }}</a></p>
    {% endif %}
    <p class="mt-2">Last updated: {{ file.modified|date:"d.m.Y" }} {{ file.modified|time:"H:i" }}</p>
    <p>File size: {{ file.file_size | filesizeformat }}</p>
    {% if file.file_type %}
    <p>File type: {{ file.file_type }}</p>
    {% endif %}
    {% if file.description %}
    <p>{{ file.description }}</p>
    {% endif %}
    {% if file.private %}
    <p>File is private</p>
    {% else %}
    <p>File is public{% if file.short_link %},
    <a href="{{ file.short_link.get_absolute_url }}">short link</a><button class="btn" data-clipboard-text="{{ request.get_host }}{{ file.short_link.get_absolute_url }}">
      <i style="font-size: 0.8em" class="bi bi-clipboard ml-2"></i>
    </button>
    {% endif %}</p>
    {% endif %}
    <div class="mt-4 text-center justify-content-sm-evenly justify-content-md-start gap-3 align-items-md-start align-items-sm-center d-flex">
      <a class="btn btn-success fs-6" href="{{ file.file.url }}" download><i class="bi bi-download"></i> Download</a>
      {% if has_perm %}
      <a class="btn btn-danger fs-6" href="{% url 'files:delete' slug=file.slug %}"><i class="bi bi-trash"></i> Delete</a>
      {% endif %}
    </div>
  </div>
  <div class="col-md-8 col-sm-10 col-xs-auto">
  {% autoescape off %}
  {{ preview_content }}
  {% endautoescape %}
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.10/clipboard.min.js"></script>
<script>
new ClipboardJS('.btn');
</script>
{% endblock %}
